In [14]:
import pandas as pd

In [15]:
blups = pd.read_csv('CHL_blups.csv')

In [16]:
blups = blups.loc[blups['Rep'] == 1 , :]

In [17]:
blups

,genotype,PLOT.ID,rows,ranges,Block,Rep,Trt,year,note,Calibration,ASD,CHL
1,B73,1310,10,7,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,475.092325
3,B73,1139,39,3,1,1,HN,2022,BGEM_Short_early,0.0,1.0,475.092325
6,B73,1008,8,1,1,1,HN,2022,BGEM_Tall_late,0.0,2.0,475.092325
9,B73,1293,43,6,1,1,HN,2022,BGEM_Short_late,0.0,1.0,475.092325
13,B73,1041,41,1,1,1,HN,2022,BGEM_Short_early,0.0,1.0,475.092325
...,...,...,...,...,...,...,...,...,...,...,...,...
2392,PHZ51 x LH123,2572,22,12,2,1,LN,2022,Hybrid,0.0,2.0,315.227603
2394,PHZ51 x PHG35,2542,42,11,2,1,LN,2022,Hybrid,0.0,1.0,308.978928
2396,PHZ51 x PHG35,2506,6,11,2,1,LN,2022,Hybrid,0.0,2.0,308.978928
2398,PHZ51 x PHG35,2500,50,10,2,1,LN,2022,Hybrid,0.0,1.0,308.978928
2399,PHZ51 x PHG35,2536,36,11,2,1,LN,2022,Hybrid,0.0,2.0,308.978928

In [18]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')

In [19]:
GWAS_labels.columns

Index(['UID'], dtype='object')

In [20]:
GWAS_labels = pd.read_csv('WGS_labels_only.csv')

In [21]:
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)

In [22]:
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')

In [23]:
ids = ids.loc[: , ['UID', 'Genotype']]

In [24]:
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [25]:
GWAS_labels

      UID
0    B001
1    B002
2    B003
3    B004
4    B005
..    ...
217  B311
218  B312
219  B313
220  B314
221  B315

[222 rows x 1 columns]

In [26]:
merged = pd.merge(GWAS_labels, ids, on='UID', how='left')

In [27]:
merged

      UID     genotype
0    B001  BGEM-0001-N
1    B002  BGEM-0002-N
2    B003  BGEM-0003-N
3    B004  BGEM-0004-N
4    B005  BGEM-0005-N
..    ...          ...
217  B311  BGEM-0181-N
218  B312  BGEM-0121-N
219  B313  BGEM-0251-S
220  B314  BGEM-0189-S
221  B315  BGEM-0249-N

[222 rows x 2 columns]

In [28]:
merged = pd.merge(merged, blups, on='genotype', how='left')

In [29]:
merged

,UID,genotype,PLOT.ID,rows,ranges,Block,Rep,Trt,year,note,Calibration,ASD,CHL
0,B001,BGEM-0001-N,1313,13,7,1,1,HN,2022,BGEM_Tall_early,0.0,2.0,310.604381
1,B001,BGEM-0001-N,2338,38,7,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,305.224587
2,B002,BGEM-0002-N,1314,14,7,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,400.861723
3,B002,BGEM-0002-N,2339,39,7,2,1,LN,2022,BGEM_Tall_early,NaN,NaN,309.794141
4,B003,BGEM-0003-N,1111,11,3,1,1,HN,2022,BGEM_Tall_late,0.0,1.0,433.836536
...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,B313,BGEM-0251-S,2336,36,7,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,329.824417
440,B314,BGEM-0189-S,1265,15,6,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,328.267548
441,B314,BGEM-0189-S,2290,40,6,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,298.973053
442,B315,BGEM-0249-N,1189,39,4,1,1,HN,2022,BGEM_Short_late,0.0,2.0,370.973292
443,B315,BGEM-0249-N,2164,14,4,2,1,LN,2022,BGEM_Short_late,0.0,2.0,319.496828

In [30]:
merged.to_csv('blups_CHL_with_gwas_ids')

In [31]:
blups_CHL_HN = merged.loc[merged['Trt'] == 'HN' , ['UID', 'CHL']]
blups_CHL_LN = merged.loc[merged['Trt'] == 'LN' , ['UID', 'CHL']]

In [32]:
blups_CHL_LN.to_csv('blups_CHL_LN.csv' , index=False)
blups_CHL_HN.to_csv('blups_CHL_HN.csv' , index=False)

In [33]:
blups_CHL_HN

      UID         CHL
0    B001  310.604381
2    B002  400.861723
4    B003  433.836536
6    B004  373.498438
8    B005  464.352804
..    ...         ...
434  B311  389.113594
436  B312  328.799187
438  B313  354.752934
440  B314  328.267548
442  B315  370.973292

[222 rows x 2 columns]

# adding uids to CHL blues and blups

In [2]:
import pandas as pd
blues = pd.read_csv('blues_CHL_LN_HN_seperately_only_inbreds.csv')

In [63]:
blues

        genotype      CHL_LN      CHL_HN
0            B73  376.753375  476.855066
1    BGEM-0001-N  275.037846  273.892881
2    BGEM-0002-N  265.720457  391.463653
3    BGEM-0003-N  296.012034  434.417213
4    BGEM-0004-N  270.422639  355.819766
..           ...         ...         ...
301  BGEM-0325-N  315.161135  434.672791
302  BGEM-0326-N  309.775551  349.921849
303  BGEM-0327-N  291.273788  361.392873
304  BGEM-0328-S  325.346008  382.200517
305         Mo17  345.221890  407.118713

[306 rows x 3 columns]

In [64]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')

In [65]:
GWAS_labels = pd.read_csv('WGS_labels_only.csv')

In [66]:
GWAS_labels.columns

Index(['UID                     '], dtype='object')

In [67]:
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)

In [68]:
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')

In [69]:
ids = ids.loc[: , ['UID', 'Genotype']]

In [70]:
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [71]:
merged = pd.merge(ids, blues, on='genotype', how='inner')

In [72]:
merged = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [73]:
merged =merged.loc[:, ['UID', 'CHL_LN', 'CHL_HN']]

In [77]:
merged.to_csv('blues_CHL_with_gwas_ids_only_inbreds.csv', index=False)

In [51]:
blues = pd.read_csv('blues_CHL_LN_HN_seperately_with_hybrids.csv')

In [53]:
merged = pd.merge(ids, blues, on='genotype', how='inner')

In [54]:
merged = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [56]:
merged =merged.loc[:, ['UID', 'CHL_LN', 'CHL_HN']]

In [58]:
blups = pd.read_csv('blups_CHL_with_gwas_ids_with_hybrids.csv')
blues = merged

In [59]:
merged2 = pd.merge(blups, blues, how='left')

In [61]:
merged2.to_csv('CHL_blups_blues_with_hybrids.csv', index=False)