In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Biochemical_results_BGEM.csv')

In [1]:
data.columns

NameError: name 'data' is not defined

In [7]:
raw = pd.read_csv('Raw_spectrum_merged.csv')

In [8]:
data = data.loc[:, ['Sample ID', '% N', '% P', '% K', '% S', '% Ca', '% Mg', 'ppm Zn', 'ppm Fe', 'ppm Mn',
       'ppm Cu', 'ppm B', 'ppm Mo' ]]

In [9]:
new_ID = []

for i in data['Sample ID']:
    str(i)
    ID = i[0:4]
    new_ID.append(ID)

In [10]:
data['Sample ID'] = new_ID

In [11]:
data.rename(columns={'Sample ID' : 'PLOT ID'}, inplace= True)

In [12]:
data['PLOT ID'] =data['PLOT ID'].astype('int')

In [13]:
data

,PLOT ID,% N,% P,% K,% S,% Ca,% Mg,ppm Zn,ppm Fe,ppm Mn,ppm Cu,ppm B,ppm Mo
0,1203,3.051,0.397,2.11,0.273,0.628,0.252,66,861,107,34.1,18.3,1.54
1,1255,2.629,0.346,2.20,0.179,0.354,0.203,36,191,37,9.7,12.8,0.52
2,2329,2.343,0.427,2.82,0.181,0.537,0.184,30,209,30,10.4,14.9,0.88
3,1540,4.543,0.374,1.97,0.251,0.686,0.217,40,372,95,16.3,13.9,1.44
4,2100,4.710,0.447,2.18,0.230,0.416,0.223,28,160,29,9.9,11.7,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,1456,3.506,0.365,1.63,0.265,0.365,0.178,33,277,65,12.4,10.0,0.64
321,3288,2.449,0.330,1.99,0.232,0.657,0.181,31,162,37,12.5,18.2,1.08
322,3223,2.124,0.360,1.69,0.178,0.472,0.195,21,153,31,5.6,13.6,0.65
323,3417,1.966,0.297,1.80,0.162,0.365,0.199,22,129,35,5.6,13.6,3.05
324,4070,3.117,0.354,1.77,0.265,0.283,0.111,29,189,43,9.2,23.8,1.18

In [9]:
merged= pd.merge(data, raw, how='outer')
merged.sort_values(by='PLOT ID', inplace=True)
merged.reset_index(inplace=True, drop=True)

In [10]:
len(merged.columns)

2175

In [11]:
merged.columns[0:50]

Index(['PLOT ID', '% N', '% P', '% K', '% S', '% Ca', '% Mg', 'ppm Zn',
       'ppm Fe', 'ppm Mn', 'ppm Cu', 'ppm B', 'ppm Mo', 'rows', 'ranges',
       'Block', 'Rep', 'Group', 'Trt', 'year', 'genotype', 'note',
       'Calibration', 'ASD', '350', '351', '352', '353', '354', '355', '356',
       '357', '358', '359', '360', '361', '362', '363', '364', '365', '366',
       '367', '368', '369', '370', '371', '372', '373', '374', '375'],
      dtype='object')

In [12]:
a=[0,13,14,15,16,17,18,19,20,21,22,23,1,2,3,4,5,6,7,8,9,10,11,12]
b =(np.arange(24,2175).tolist())
merged2 =merged.iloc[:, a +b]

In [13]:
merged2.columns[0:30]

Index(['PLOT ID', 'rows', 'ranges', 'Block', 'Rep', 'Group', 'Trt', 'year',
       'genotype', 'note', 'Calibration', 'ASD', '% N', '% P', '% K', '% S',
       '% Ca', '% Mg', 'ppm Zn', 'ppm Fe', 'ppm Mn', 'ppm Cu', 'ppm B',
       'ppm Mo', '350', '351', '352', '353', '354', '355'],
      dtype='object')

In [14]:
merged.to_csv('Spectrum_with_biochemical_traits.csv', index= False)


# removing outliers

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Spectrum_with_biochemical_traits.csv')

In [3]:
data.columns[0:30]

Index(['PLOT ID', '% N', '% P', '% K', '% S', '% Ca', '% Mg', 'ppm Zn',
       'ppm Fe', 'ppm Mn', 'ppm Cu', 'ppm B', 'ppm Mo', 'rows', 'ranges',
       'Block', 'Rep', 'Group', 'Trt', 'year', 'genotype', 'note',
       'Calibration', 'ASD', '350', '351', '352', '353', '354', '355'],
      dtype='object')

In [4]:
data['Group']

0       Inbred
1       Inbred
2       Inbred
3       Inbred
4       Inbred
         ...
2395    Hybrid
2396    Hybrid
2397    Hybrid
2398    Hybrid
2399    Hybrid
Name: Group, Length: 2400, dtype: object

### IQR dan Ã¶nce gÃ¶zle seÃ§im iÃ§in box

In [19]:
traits = ['% N','% P', '% K', '% S', '% Ca', '% Mg', 'ppm Zn', 'ppm Fe', 'ppm Mn', 'ppm Cu', 'ppm B', 'ppm Mo']
groups = ['Inbred', 'Hybrid']
trts = ['HN', 'LN']

In [20]:
#data_non_na = data.loc[data[trait].notna(),:]
#data_non_na = data_non_na.loc[data_non_na[trait].notna(), :]

In [21]:
#defining a function to remove the outliers
def outlier_treatment(datacolumn):
 sorted(datacolumn)
 Q1=datacolumn.quantile(0.25)
 Q3=datacolumn.quantile(0.75)
 #Q1,Q3 = np.percentile(datacolumn , [25,75])
 IQR = Q3 - Q1
 lower_range = Q1 - (1.5 * IQR)
 upper_range = Q3 + (1.5 * IQR)
 return lower_range,upper_range

In [22]:
#Outlier treatment
for group in groups:
    for trt in trts:
        for trait in traits:
            data_non_na = data.loc[data[trait].notna(),:]
            outlier_treatment(data_non_na.loc[(data_non_na['Group'] == group) & (data_non_na['Trt'] == trt) , trait])
            lowerbound,upperbound = outlier_treatment(data_non_na.loc[(data_non_na['Group'] == group) & (data_non_na['Trt'] == trt) , trait])
            rm_index =data_non_na.loc[(data_non_na['Group'] == group) & (data_non_na['Trt'] == trt) , trait][(data_non_na.loc[(data_non_na['Group'] == group) & (data_non_na['Trt'] == trt)  , :][trait] < lowerbound) | (data_non_na.loc[(data_non_na['Group'] == group) & (data_non_na['Trt'] == trt) , :][trait] > upperbound)].index.values.tolist()
            rm_index
            data.loc[rm_index, trait] = np.nan

In [23]:
data.to_csv('Spectrum_with_biochemical_traits_outlier_removal.csv', index=False)