In [1]:
import pandas as pd
import numpy as np

In [3]:
spectrum = pd.read_csv('Raw_spectrum_merged.csv')

In [4]:
gt = pd.read_csv('BGEM_2022_gt.csv')

In [5]:
data = pd.merge(gt, spectrum, how='outer')

In [6]:
data

,PLOT ID,Fresh_weight,Leaf_area,CHL1,CHL2,CHL3,Dry_weight,rows,ranges,Block,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,3056,7.46,349.0,394.8,366.0,315.2,1.99,6,2,3,...,0.061908,0.061664,0.061469,0.061171,0.060994,0.060792,0.060414,0.060054,0.059798,0.059635
1,3057,9.20,353.0,428.9,373.4,304.2,2.01,7,2,3,...,0.049477,0.049398,0.049181,0.048713,0.048272,0.047860,0.047772,0.047841,0.047842,0.048290
2,4376,9.73,466.0,439.2,502.9,494.8,2.92,26,8,4,...,0.061009,0.060781,0.060413,0.060137,0.059759,0.059294,0.059208,0.059245,0.059190,0.059291
3,3223,6.13,327.7,147.8,202.2,229.8,1.67,23,5,3,...,0.061220,0.061113,0.060895,0.060673,0.060416,0.060231,0.060154,0.059911,0.059890,0.059821
4,3155,7.83,342.9,295.5,386.5,407.8,2.10,5,4,3,...,0.052866,0.052654,0.052443,0.052085,0.051800,0.051649,0.051471,0.051294,0.051087,0.050869
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,4595,NaN,NaN,NaN,NaN,NaN,NaN,45,12,4,...,0.046107,0.045903,0.045767,0.045673,0.045493,0.045163,0.044756,0.044371,0.044432,0.044712
2396,4596,NaN,NaN,NaN,NaN,NaN,NaN,46,12,4,...,0.059570,0.059487,0.059379,0.059312,0.059066,0.058804,0.058750,0.058499,0.058298,0.058202
2397,4598,NaN,NaN,NaN,NaN,NaN,NaN,48,12,4,...,0.056652,0.056354,0.056035,0.055800,0.055557,0.055148,0.054880,0.054803,0.054617,0.054308
2398,4599,NaN,NaN,NaN,NaN,NaN,NaN,49,12,4,...,0.050402,0.050328,0.050200,0.049665,0.049339,0.049328,0.049174,0.048901,0.048625,0.048320
2399,4600,NaN,NaN,NaN,NaN,NaN,NaN,50,12,4,...,0.052060,0.051705,0.051465,0.051441,0.051297,0.051109,0.050953,0.050834,0.050651,0.050347

In [7]:
data.drop(data.filter(regex='Unname'), axis=1 , inplace=True)

In [8]:
data =data.sort_values('PLOT ID')

In [9]:
data.reset_index(inplace=True, drop=True)

In [10]:
data

,PLOT ID,Fresh_weight,Leaf_area,CHL1,CHL2,CHL3,Dry_weight,rows,ranges,Block,...,2491,2492,2493,2494,2495,2496,2497,2498,2499,2500
0,1001,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,...,0.035234,0.035088,0.034933,0.034826,0.034614,0.034352,0.034138,0.033865,0.033638,0.033476
1,1002,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1,...,0.037554,0.037249,0.037154,0.037163,0.037074,0.037141,0.037005,0.036618,0.036303,0.035844
2,1003,NaN,NaN,NaN,NaN,NaN,NaN,3,1,1,...,0.042723,0.042242,0.042083,0.041943,0.041776,0.041955,0.041835,0.041389,0.041090,0.040662
3,1004,NaN,NaN,NaN,NaN,NaN,NaN,4,1,1,...,0.041980,0.041998,0.041733,0.041467,0.041499,0.041415,0.041049,0.041078,0.041080,0.040855
4,1005,7.73,366.0,NaN,NaN,NaN,1.74,5,1,1,...,0.035746,0.035719,0.035662,0.035373,0.035116,0.034928,0.034894,0.035089,0.035207,0.035318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,4596,NaN,NaN,NaN,NaN,NaN,NaN,46,12,4,...,0.059570,0.059487,0.059379,0.059312,0.059066,0.058804,0.058750,0.058499,0.058298,0.058202
2396,4597,16.62,660.4,458.9,552.0,598.9,4.44,47,12,4,...,0.045764,0.045825,0.045893,0.045686,0.045541,0.045311,0.045272,0.045472,0.045199,0.045085
2397,4598,NaN,NaN,NaN,NaN,NaN,NaN,48,12,4,...,0.056652,0.056354,0.056035,0.055800,0.055557,0.055148,0.054880,0.054803,0.054617,0.054308
2398,4599,NaN,NaN,NaN,NaN,NaN,NaN,49,12,4,...,0.050402,0.050328,0.050200,0.049665,0.049339,0.049328,0.049174,0.048901,0.048625,0.048320
2399,4600,NaN,NaN,NaN,NaN,NaN,NaN,50,12,4,...,0.052060,0.051705,0.051465,0.051441,0.051297,0.051109,0.050953,0.050834,0.050651,0.050347

In [11]:
CHL= data[['CHL1', 'CHL2', 'CHL3']].mean(axis=1)

In [12]:
data.insert(3, 'CHL', CHL)

In [13]:
SLA = data['Leaf_area']/data['Dry_weight']

In [14]:
data.insert(3, 'SLA', SLA)

In [15]:
LWC = (data['Fresh_weight']-data['Dry_weight']) / data['Fresh_weight'] * 100

In [16]:
data.insert(3, 'LWC' , LWC)

In [17]:
data.to_csv('Spectrum_ground_truth_v1.csv', index=False)