In [ ]:
import pandas as pd

In [15]:
blups = pd.read_csv('CHL_blups.csv')

In [16]:
blups = blups.loc[blups['Rep'] == 1 , :]

In [17]:
blups

,genotype,PLOT.ID,rows,ranges,Block,Rep,Trt,year,note,Calibration,ASD,CHL
1,B73,1310,10,7,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,475.092325
3,B73,1139,39,3,1,1,HN,2022,BGEM_Short_early,0.0,1.0,475.092325
6,B73,1008,8,1,1,1,HN,2022,BGEM_Tall_late,0.0,2.0,475.092325
9,B73,1293,43,6,1,1,HN,2022,BGEM_Short_late,0.0,1.0,475.092325
13,B73,1041,41,1,1,1,HN,2022,BGEM_Short_early,0.0,1.0,475.092325
...,...,...,...,...,...,...,...,...,...,...,...,...
2392,PHZ51 x LH123,2572,22,12,2,1,LN,2022,Hybrid,0.0,2.0,315.227603
2394,PHZ51 x PHG35,2542,42,11,2,1,LN,2022,Hybrid,0.0,1.0,308.978928
2396,PHZ51 x PHG35,2506,6,11,2,1,LN,2022,Hybrid,0.0,2.0,308.978928
2398,PHZ51 x PHG35,2500,50,10,2,1,LN,2022,Hybrid,0.0,1.0,308.978928
2399,PHZ51 x PHG35,2536,36,11,2,1,LN,2022,Hybrid,0.0,2.0,308.978928

In [18]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')

In [19]:
GWAS_labels.columns

Index(['UID'], dtype='object')

In [20]:
GWAS_labels = pd.read_csv('WGS_labels_only.csv')

In [21]:
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)

In [22]:
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')

In [23]:
ids = ids.loc[: , ['UID', 'Genotype']]

In [24]:
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [25]:
GWAS_labels

      UID
0    B001
1    B002
2    B003
3    B004
4    B005
..    ...
217  B311
218  B312
219  B313
220  B314
221  B315

[222 rows x 1 columns]

In [26]:
merged = pd.merge(GWAS_labels, ids, on='UID', how='left')

In [27]:
merged

      UID     genotype
0    B001  BGEM-0001-N
1    B002  BGEM-0002-N
2    B003  BGEM-0003-N
3    B004  BGEM-0004-N
4    B005  BGEM-0005-N
..    ...          ...
217  B311  BGEM-0181-N
218  B312  BGEM-0121-N
219  B313  BGEM-0251-S
220  B314  BGEM-0189-S
221  B315  BGEM-0249-N

[222 rows x 2 columns]

In [28]:
merged = pd.merge(merged, blups, on='genotype', how='left')

In [29]:
merged

,UID,genotype,PLOT.ID,rows,ranges,Block,Rep,Trt,year,note,Calibration,ASD,CHL
0,B001,BGEM-0001-N,1313,13,7,1,1,HN,2022,BGEM_Tall_early,0.0,2.0,310.604381
1,B001,BGEM-0001-N,2338,38,7,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,305.224587
2,B002,BGEM-0002-N,1314,14,7,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,400.861723
3,B002,BGEM-0002-N,2339,39,7,2,1,LN,2022,BGEM_Tall_early,NaN,NaN,309.794141
4,B003,BGEM-0003-N,1111,11,3,1,1,HN,2022,BGEM_Tall_late,0.0,1.0,433.836536
...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,B313,BGEM-0251-S,2336,36,7,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,329.824417
440,B314,BGEM-0189-S,1265,15,6,1,1,HN,2022,BGEM_Tall_early,0.0,1.0,328.267548
441,B314,BGEM-0189-S,2290,40,6,2,1,LN,2022,BGEM_Tall_early,0.0,2.0,298.973053
442,B315,BGEM-0249-N,1189,39,4,1,1,HN,2022,BGEM_Short_late,0.0,2.0,370.973292
443,B315,BGEM-0249-N,2164,14,4,2,1,LN,2022,BGEM_Short_late,0.0,2.0,319.496828

In [30]:
merged.to_csv('blups_CHL_with_gwas_ids')

In [31]:
blups_CHL_HN = merged.loc[merged['Trt'] == 'HN' , ['UID', 'CHL']]
blups_CHL_LN = merged.loc[merged['Trt'] == 'LN' , ['UID', 'CHL']]

In [32]:
blups_CHL_LN.to_csv('blups_CHL_LN.csv' , index=False)
blups_CHL_HN.to_csv('blups_CHL_HN.csv' , index=False)

In [33]:
blups_CHL_HN

      UID         CHL
0    B001  310.604381
2    B002  400.861723
4    B003  433.836536
6    B004  373.498438
8    B005  464.352804
..    ...         ...
434  B311  389.113594
436  B312  328.799187
438  B313  354.752934
440  B314  328.267548
442  B315  370.973292

[222 rows x 2 columns]

# adding uids to CHL blues and blups

In [2]:
import pandas as pd
blues = pd.read_csv('blues_CHL_LN_HN_seperately_only_inbreds.csv')

In [63]:
blues

        genotype      CHL_LN      CHL_HN
0            B73  376.753375  476.855066
1    BGEM-0001-N  275.037846  273.892881
2    BGEM-0002-N  265.720457  391.463653
3    BGEM-0003-N  296.012034  434.417213
4    BGEM-0004-N  270.422639  355.819766
..           ...         ...         ...
301  BGEM-0325-N  315.161135  434.672791
302  BGEM-0326-N  309.775551  349.921849
303  BGEM-0327-N  291.273788  361.392873
304  BGEM-0328-S  325.346008  382.200517
305         Mo17  345.221890  407.118713

[306 rows x 3 columns]

In [64]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')

In [65]:
GWAS_labels = pd.read_csv('WGS_labels_only.csv')

In [66]:
GWAS_labels.columns

Index(['UID                     '], dtype='object')

In [67]:
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)

In [68]:
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')

In [69]:
ids = ids.loc[: , ['UID', 'Genotype']]

In [70]:
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [71]:
merged = pd.merge(ids, blues, on='genotype', how='inner')

In [72]:
merged = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [73]:
merged =merged.loc[:, ['UID', 'CHL_LN', 'CHL_HN']]

In [77]:
merged.to_csv('blues_CHL_with_gwas_ids_only_inbreds.csv', index=False)

In [51]:
blues = pd.read_csv('blues_CHL_LN_HN_seperately_with_hybrids.csv')

In [53]:
merged = pd.merge(ids, blues, on='genotype', how='inner')

In [54]:
merged = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [56]:
merged =merged.loc[:, ['UID', 'CHL_LN', 'CHL_HN']]

In [58]:
blups = pd.read_csv('blups_CHL_with_gwas_ids_with_hybrids.csv')
blues = merged

In [59]:
merged2 = pd.merge(blups, blues, how='left')

In [61]:
merged2.to_csv('CHL_blups_blues_with_hybrids.csv', index=False)

# merging spectra blups with GWAS Ids

In [2]:
import pandas as pd
import numpy as np
blups = pd.read_csv('spectra_blups_N_combined_nonASD_only_inbreds.csv')

In [3]:
# Create a np array for downsampling for every 5 nm
column_filter = np.arange(1, 2200, 50)
blups_spectra= blups.iloc[:, column_filter]

In [4]:
blups_geno = blups.loc[:, 'genotype']

In [5]:
blups_int = pd.concat([blups_geno, blups_spectra], axis=1)

In [6]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')

In [7]:
GWAS_labels = pd.read_csv('WGS_labels_only.csv')

In [8]:
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)

In [9]:
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')

In [10]:
ids = ids.loc[: , ['UID', 'Genotype']]

In [11]:
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [12]:
merged = pd.merge(ids, blups_int, on='genotype', how='inner')

In [13]:
merged2 = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [14]:
merged2.drop(['genotype'], axis=1, inplace=True)

In [15]:
merged2.to_csv('blups_spectra_N_combined_only_inbreds_GWAS_ready.csv', index=False)

In [16]:
merged2

,UID,X350,X400,X450,X500,X550,X600,X650,X700,X750,...,X2050,X2100,X2150,X2200,X2250,X2300,X2350,X2400,X2450,X2500
0,B001,0.082296,0.046531,0.055440,0.065912,0.165976,0.105845,0.071533,0.131935,0.450569,...,0.108947,0.142685,0.168140,0.174738,0.164910,0.141465,0.114851,0.088761,0.063922,0.048542
1,B002,0.080296,0.045596,0.054280,0.063808,0.150755,0.097256,0.067539,0.121333,0.449184,...,0.114609,0.147661,0.172187,0.178576,0.168749,0.145351,0.119007,0.093216,0.067678,0.051602
2,B003,0.077507,0.044477,0.052744,0.062273,0.144077,0.093925,0.065544,0.117633,0.446765,...,0.114890,0.148302,0.172926,0.179161,0.170360,0.148266,0.121237,0.095265,0.069861,0.053559
3,B004,0.081749,0.046392,0.054857,0.064614,0.154818,0.099279,0.068366,0.126324,0.449078,...,0.121734,0.156097,0.180941,0.186820,0.177236,0.154257,0.127713,0.100776,0.073229,0.055202
4,B005,0.082352,0.046344,0.055089,0.064602,0.148535,0.096541,0.067544,0.120918,0.451557,...,0.115569,0.149011,0.173869,0.180169,0.170316,0.146476,0.120511,0.094420,0.068643,0.052253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,B311,0.080219,0.045337,0.053046,0.061712,0.141519,0.090398,0.063123,0.113491,0.445466,...,0.099590,0.131576,0.156000,0.162734,0.154120,0.132300,0.106079,0.081459,0.059063,0.045463
218,B312,0.080119,0.045643,0.054790,0.065985,0.165286,0.108499,0.073811,0.135865,0.447771,...,0.108765,0.141282,0.165982,0.172387,0.162956,0.140220,0.114345,0.088977,0.064616,0.049473
219,B313,0.078888,0.044448,0.052291,0.061335,0.141020,0.090645,0.063109,0.114885,0.445814,...,0.104481,0.137509,0.162715,0.169626,0.160477,0.137362,0.111567,0.086223,0.062048,0.047288
220,B314,0.081071,0.045903,0.054179,0.064272,0.159721,0.101175,0.068150,0.132100,0.449871,...,0.112515,0.147127,0.172813,0.179290,0.169795,0.146253,0.119409,0.092515,0.066234,0.049571
221,B315,0.082179,0.046277,0.054608,0.063931,0.151793,0.097192,0.067149,0.121001,0.447924,...,0.112086,0.145175,0.169835,0.176344,0.166301,0.143131,0.117218,0.091511,0.065871,0.049749

# Spectral Plasticity GWAS

In [1]:
import pandas as pd
import numpy as np

In [2]:
plast = pd.read_csv('spectra_plasticity.csv')

In [3]:
plast_inb = plast.loc[plast['Group'] == 'Inbred' , :]
plast_first_cols = plast_inb.iloc[:, 0:1]
plast_inb_bands = plast_inb.iloc[:, 2:]

In [4]:
# Create a np array for downsampling for every 5 nm
column_filter = np.arange(0, 2151, 50)
plast_inb_bands = plast_inb_bands.iloc[:, column_filter]

In [5]:
plast_GWAS = pd.concat([plast_first_cols, plast_inb_bands], axis=1)

In [6]:
ids = pd.read_csv('BGEM_WGS_Labels.csv')
GWAS_labels = pd.read_csv('WGS_labels_only.csv')
GWAS_labels.rename(columns={'UID                     ': 'UID'}, inplace=True)
GWAS_labels['UID'] = GWAS_labels['UID'].str.replace(' ' , '')
ids = ids.loc[: , ['UID', 'Genotype']]
ids.rename(columns ={'Genotype': 'genotype'}, inplace=True)

In [7]:
merged = pd.merge(ids, plast_GWAS, on='genotype', how='inner')

In [8]:
merged2 = pd.merge(merged, GWAS_labels, on='UID', how='inner')

In [9]:
merged2.drop(['genotype'], axis=1, inplace=True)

In [10]:
#defining a function to remove the outliers
def outlier_treatment(datacolumn):
 sorted(datacolumn)
 Q1=datacolumn.quantile(0.25)
 Q3=datacolumn.quantile(0.75)
 #Q1,Q3 = np.percentile(datacolumn , [25,75])
 IQR = Q3 - Q1
 lower_range = Q1 - (1.5 * IQR)
 upper_range = Q3 + (1.5 * IQR)
 return lower_range,upper_range

In [11]:
#Outlier treatment
for trait in merged2.columns[1:] : 
    outlier_treatment(merged2.loc[: , trait])
    lowerbound,upperbound = outlier_treatment(merged2.loc[: , trait])
    rm_index =merged2[(merged2[trait] < lowerbound) | (merged2[trait] > upperbound)].index
    merged2.at[rm_index, trait] = np.nan

InvalidIndexError: You can only assign a scalar value not a <class 'float'>

In [72]:
merged2.to_csv('spetrum_plasticity_GWAS_ready.csv', index=False)